<div class="container" *ngIf="encuesta">
    <form [formGroup]="myFormGroup">
        <div class="row">
            <div class="col-12 text-center text-uppercase p-3">
                <h1>{{encuesta.nombre}}</h1>
            </div>
            <div class="col-sm-12 col-md-6 p-3">

                <img src="{{encuesta.foto}}" style="width: 100%;">
            </div>
            <div class="col-sm-12 col-md-6 p-3">
                <div class="row" *ngFor="let p of encuesta.preguntas">
                    <div class="col-8 p-2">
                        {{p.pregunta}}
                    </div>
                    <div class="col-4 p-2">
                        <mat-radio-group aria-label="Select an option" style="width: 100%;" formControlName="{{p.id}}" [(ngModel)]="respuesta.respuestas[p.id]" required>
                            <mat-radio-button *ngFor="let o of p.opciones" value="{{o.id}}">{{o.opcion}}</mat-radio-button>
                            <mat-error>Respuesta requerida para la pregunta {{p.id}}.</mat-error>
                        </mat-radio-group>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center"><button mat-button color="primary" (click)="guardarEncuesta()">Enviar</button></div>
                </div>

            </div>
        </div>
    </form>

</div>

<div class="spinner-container" *ngIf="enviando">
    <mat-spinner></mat-spinner>
</div>