/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-card img {
    height: fit-content !important;
    max-height: 300px !important;
    object-fit: cover !important;
    object-position: center;
}

.logo {
    cursor: pointer;
}

::ng-deep .mat-input-wrapper {
    width: 100% !important;
}

mat-form-field {
    width: 100%;
}